SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = '218.......apps.googleusercontent.com'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = '52tq.....5wnyv'

SOCIAL_AUTH_MOVES_KEY = 'w4...................Dh36'
SOCIAL_AUTH_MOVES_SECRET = '8Dy...............Yv61ykmJT'

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'q7nho...................w+7c)1e'
