{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}
<title>{% block title %}Moves to Google Calendar{% endblock %}</title>

<body>
    <header class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbar-elements">
                </div>
            </div>
        </nav>

        <hgroup id="title" class="page-header" style="margin-top: 5em">
            <h1 lang="en">Moves to Google Calendar</h1>
        </hgroup>
    </header>

    <section id="main" class="container">
        <div class="row">
            <!-- ###### LEFT SIDEBAR ###### -->
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2 class="panel-title">Moves to Google Calendar</h2></div>
                    <div class="panel-body">
                        {% if m2g.gcal.user.uid %}
							{% if user and not user.is_anonymous %}
								  <h3>Hello {{ user.get_full_name|default:user.username }}!</h3>
							{% endif %}
							Google UID: {{ m2g.gcal.user.uid }}<br/>
						{% else %}
							<strong>Not linked to Google yet...</strong><br/>
							<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-info"><span class="glyphicon glyphicon-chevron-right"></span> Link Google</a><br/>
						{% endif %}
						
						{% if m2g.moves.user.uid %}
							Moves UID: {{ m2g.moves.user.uid }}<br/>
							Life on Moves started in {{ m2g.settings.movesstart }}<br/>
							Last synced place time: {{ m2g.settings.lastplacesync }}
						{% else %}
							<strong>Not linked to Moves yet...</strong><br/>
							<a href="{% url 'social:begin' 'moves' %}?next={{ request.path }}" class="btn btn-success {% if m2g.gcal.user.uid == Null %} disabled {% endif %}"><span class="glyphicon glyphicon-chevron-left"></span> Link Moves</a>
						{% endif %}
                    </div>
                </div>
            </div>
            
            <!-- ###### RIGHT CONTENT ###### -->
            <div class="col-md-8">
                {# Display django.contrib.messages as Bootstrap alerts #}
                {% bootstrap_messages %}
                
                <form>
                <div class="form-group">
                	Default target calendar:
                </div>
                <div class="form-group">

				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						Dropdown <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>               
               
               
               
               
               
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Calendar 1 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Calendar 3</a></li>
                        <li><a href="#">Calendar 2</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div><br/>
                <select multiple class="form-control">
                    <option>1</option>
                    <option>2</option>
                </select><br/>
                <div class="btn-group">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus-sign"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>
                </div>
                
                </div>
                </form>
                
                <form action="{% url 'submit' %}" method="post">
	                {% csrf_token %} 
                	<button type="submit" class="btn btn-info">Moves <span class="glyphicon glyphicon-chevron-right"></span> Google Calendar</button>
                </form>
                
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Calendars</div>

                    <!-- List group -->
                    <ul class="list-group">{% for ck,cv in m2g.gcal.cal.items %}
                        <li class="list-group-item">
                            <strong>{{ ck }}</strong> : <span class="glyphicon glyphicon-stop" style="color: {{ cv.colors.0 }}"></span> {{ cv.name }} : {{ cv.colors }}
						</li>
                    {% endfor %}</ul>
                </div>

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Places</div>

                    <!-- List group -->
                    <ul class="list-group">{% for p in m2g.places %}
                        <li class="list-group-item">
                            <strong>{{ p.location }}</strong><br/>
                            {{p.start}} &#9733; {{ p.activity }} &#9733; {{p.end}}
                        </li>
                    {% endfor %}</ul>
                </div>

                <pre>{{ debug }}</pre>
                <pre>{{ m2g }}</pre>
            </div>
        </div>
    </section>
</body>